<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="metastrings" connectionString="Data Source=[UserRoaming]mscripttest.db" />
    <!--
    <add name="metastrings" connectionString="Server=localhost;Database=metastringsmscripts;Uid=michael;Pwd=balloni;" />
    -->
  </connectionStrings>
  <appSettings>
    <add key="LogTrace" value="true" />
    <add key="SendEmail" value="false" />
  </appSettings>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
</configuration>