<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="metastrings" connectionString="Data Source=[UserRoaming]metastringsmscripts.db" />
    <!--
    <add name="metastrings" connectionString="Server=localhost;Database=metastringsmscripts;Uid=michael;Pwd=balloni;" />
    -->
  </connectionStrings>
  <appSettings>
    <add key="LogTrace" value="true" />
    <add key="SendEmail" value="false" />
    <add key="EmailFromAddress" value="" />
    <add key="EmailFromName" value="" />
    <add key="EmailServiceRegion" value="" />
    <add key="EmailAccessKey" value="" />
    <add key="EmailSecretKey" value="" />
  </appSettings>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
</configuration>